$content-width: calc(40vw - 84px);
$margin: 20px;
$spacing: 20px;
$bdrs: 6px;
$circle-size: 40px;
$icon-size: 32px;
$bdrs-icon: 100%;
$transition: 0.4s;

$color1: #9251ac;
$color2: #f6a4ec;

$color3: #87bbfe;
$color4: #555ac0;

$color5: #24b47e;
$color6: #aff1b6;

* {
	box-sizing: border-box;
}
html {
	font-size: 14px;
}
body {
	background: #f6f9fc;
	font-family: "Open Sans", sans-serif;
	color: #525f7f;

	&::-webkit-scrollbar {
		display: none;
	}
}
h2 {
	margin: 5%;
	text-align: center;
	font-size: 2rem;
	font-weight: 100;
}

.timeline {
	display: flex;
	flex-direction: column-reverse;
	justify-content: start;
	margin: $margin auto;
	position: relative;
	transition: 0.5s;

	.single_time_body {
		display: flex;
		transition: 0.5s;
		z-index: 11;
	}

	&__event {
		margin-bottom: $spacing;
		position: relative;
		display: flex;
		margin: $spacing 0;
		border-radius: $bdrs;
		align-self: center;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		padding: 0rem 1.5rem;
		z-index: 11;
		-webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
			both;
		animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

		&:nth-child(2n + 1) {
			-webkit-animation: slide-in-right 0.5s
				cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
			animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

			flex-direction: row-reverse;
			.timeline__event__date {
				border-radius: 0 $bdrs $bdrs 0;
			}
			.timeline__event__content {
				border-radius: $bdrs 0 0 $bdrs;
			}

			.timeline__event__icon {
				&:before {
					content: "";
					width: 2px;
					height: 80%;
					background: $color2;
					position: absolute;
					top: 0%;
					left: 50%;
					right: auto;
					z-index: -1;
					transform: translateX(-50%);
					animation: fillTop 2s forwards 1s ease-in-out;
				}
				&:after {
					content: "";
					width: 25%;
					height: 2px;
					background: $color2;
					position: absolute;
					right: 0;
					z-index: -1;
					top: 50%;
					left: auto;
					transform: translateY(-50%);
					animation: fillLeft 2s forwards 1s ease-in-out;
				}
			}

			.single_time_body {
				flex-direction: row-reverse;
			}
		}

		&:nth-child(1) {
			.timeline__event__icon {
				&:before {
					content: "";
					display: none;
				}
				&:after {
					content: "";
					width: 25%;
					height: 2px;
					position: absolute;
					right: 0;
					z-index: -1;
					top: 50%;
					left: auto;
					transform: translateY(-50%);
					animation: fillLeft 2s forwards 1s ease-in-out;
				}
			}
		}

		&:nth-last-child(1) {
			.timeline__event__icon {
				&:before {
					content: "" !important;
					width: 2px;
					height: 80% !important;
					position: absolute;
					top: 0%;
					z-index: -1;
					left: 50%;
					transform: translateX(-50%);
					animation: fillTop 2s forwards 1s ease-in-out;
				}
			}
		}

		&__title {
			font-size: 1.2rem;
			line-height: 1.4;
			text-transform: uppercase;

			font-weight: 600;
			color: $color1;
			letter-spacing: 1.5px;
		}
		&__content {
			padding: $spacing;
			box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
				0 18px 36px -18px rgba(0, 0, 0, 0.3),
				0 -12px 36px -8px rgba(0, 0, 0, 0.025);
			background: #fff;
			// width: $content-width;
			border-radius: 0 $bdrs $bdrs 0;
		}
		&__date {
			color: $color2;
			font-size: 1.5rem;
			font-weight: 600;
			background: $color1;
			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;
			padding: 0 $spacing;
			border-radius: $bdrs 0 0 $bdrs;
		}
		&__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color1;
			padding: $spacing;
			align-self: center;
			margin: 0 $spacing;
			background: $color2;
			border-radius: $bdrs-icon;
			width: $circle-size;
			box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
				0 18px 36px -18px rgba(0, 0, 0, 0.3),
				0 -12px 36px -8px rgba(0, 0, 0, 0.025);
			padding: 40px;
			height: $circle-size;
			position: relative;
			-webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
				0.6s both;
			animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s
				both;

			i {
				font-size: $icon-size;
			}

			&:before {
				content: "";
				width: 2px;
				height: 80%;
				background: $color2;
				position: absolute;
				top: 0%;
				z-index: -1;
				left: 50%;
				transform: translateX(-50%);
				animation: fillTop 2s forwards 1s ease-in-out;
			}
			&:after {
				content: "";
				width: 25%;
				height: 2px;
				background: $color2;
				position: absolute;
				left: 0%;
				z-index: -1;
				top: 50%;
				transform: translateY(-50%);
				animation: fillLeftOdd 2s forwards 1s ease-in-out;
			}
		}
		&__description {
			flex-basis: 60%;
		}

		&--type2 {
			&:after {
				background: $color4;
			}
			.timeline__event__date {
				color: $color3;
				background: $color4;
			}

			&:nth-child(2n + 1) {
				.timeline__event__icon {
					&:before,
					&:after {
						background: $color3;
					}
				}
			}

			.timeline__event__icon {
				background: $color3;
				color: $color4;
				&:before,
				&:after {
					background: $color3;
				}
			}
			.timeline__event__title {
				color: $color4;
			}
		}

		&--type3 {
			&:after {
				background: $color5;
			}
			.timeline__event__date {
				color: $color6;
				background-color: $color5;
			}

			&:nth-child(2n + 1) {
				.timeline__event__icon {
					&:before,
					&:after {
						background: $color6;
					}
				}
			}

			.timeline__event__icon {
				background: $color6;
				color: $color5;
				&:before,
				&:after {
					background: $color6;
				}
			}
			.timeline__event__title {
				color: $color5;
			}
			.timeline__event__title {
			}
		}
		&:last-child {
			.timeline__event__icon {
				&:before {
					content: none;
				}
			}
		}
	}
}

@media (max-width: 786px) {
	.timeline__event {
		z-index: 11;
		flex-direction: row;
		align-self: center;

		&__content {
			width: 100%;
		}

		&__icon {
			border-radius: $bdrs $bdrs $bdrs $bdrs;
			width: 100%;
			margin: 0;
			margin-right: 12px;
			box-shadow: none;
			height: 60px;
			width: 120px;

			&::before {
				height: 424%;
			}
		}
		&__date {
			border-radius: 0;
			padding: $spacing;
		}

		.timeline__event__icon {
			padding: 0px;
		}

		&:nth-child(2n + 1) {
			flex-direction: row;
			align-self: center;

			.timeline__event__date {
				border-radius: 0;
				padding: $spacing;
			}

			.timeline__event__icon {
				padding: 0px;
				border-radius: $bdrs $bdrs $bdrs $bdrs;
				margin-right: 12px;

				&::before {
					height: 424%;
				}

				&::after {
					content: "";
					width: 100%;
					height: 2px;
					position: absolute;
					left: 25px;
					z-index: -1;
					top: 50%;
					right: auto;
				}
			}
		}
	}

	.timeline {
		.timeline__event {
			.single_time_body {
				z-index: 11;
				display: flex;
				flex-direction: column;
			}
		}
	}

	.timeline__event:nth-last-child(1) .timeline__event__icon:before {
		height: 380% !important;
	}
}

@keyframes fillLeft {
	100% {
		right: 100%;
	}
}

@keyframes fillTop {
	100% {
		top: 100%;
	}
}

@keyframes fillLeftOdd {
	100% {
		left: 100%;
	}
}

@-webkit-keyframes slide-in-bck-top {
	0% {
		-webkit-transform: translateZ(700px) translateY(-300px);
		transform: translateZ(700px) translateY(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
